:host {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: white;
    color: #b80202;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.6);
}
